Repository zuri-training/AuthWiki_Team9, pull requests merged in 2022-07, with the labels that each got.

#35 Implement Login Page (UI) #22
  FrontEnd/Pages/CSS/login.css
  FrontEnd/Pages/login.html
Labels: Important, Frontend

#44 Add Icons to the page issues: #5
  FrontEnd/authwiki/public/favicon.ico
Labels: bug, Frontend

#45 Commit Changed
  FrontEnd/Pages/CSS/navstyle.css
  FrontEnd/Pages/navigation.html
Labels: Important, Frontend

#46 Implement the Testimonial UI #3
  FrontEnd/Pages/CSS/implementingTestimonialUI.css
  FrontEnd/Pages/images/pic1.jpeg
  FrontEnd/Pages/images/pic2.jpeg
  FrontEnd/Pages/images/pic3.jpeg
  FrontEnd/Pages/implementingTestimonialUI.html
Labels: Important, Frontend

#47 implemented reaction model in the authlibrary
  BackEnd/AuthLibrary/admin.py
  BackEnd/AuthLibrary/models.py
Labels: Important, Frontend

#49 Implement getting started. Frontend #33
  FrontEnd/Pages/CSS/getting_started.css
  FrontEnd/Pages/carbon (4) 1.png
  FrontEnd/Pages/getting_started.html
  FrontEnd/Pages/icons/C++.png
  FrontEnd/Pages/icons/Csharp.png
  FrontEnd/Pages/icons/GoLang.png
  FrontEnd/Pages/icons/JS.png
  FrontEnd/Pages/icons/PHP.png
  FrontEnd/Pages/icons/Python.png
  FrontEnd/Pages/icons/TS.png
Labels: Important, Frontend

#51 Implement NavBar (Functionality) #13 #12
  FrontEnd/authwiki/src/App.js
  FrontEnd/authwiki/src/components/NavBar.js
  FrontEnd/authwiki/src/css/NavBar.js
  FrontEnd/authwiki/src/pages/Home.js
Labels: Important, Frontend

#52 Implement Error Page (UI) #25
  FrontEnd/Pages/CSS/implementerrorpage.css
  FrontEnd/Pages/implementerrorpage.html
Labels: Important, Frontend

#53 BUG: Implement Login Page (UI) #22
  FrontEnd/authwiki/src/css/Login.js
  FrontEnd/authwiki/src/pages/Login.js
Labels: bug, good first issue, Important, Frontend

#54 Login Page: client with the server #23
  FrontEnd/authwiki/public/manifest.json
  FrontEnd/authwiki/src/pages/Login.js
  FrontEnd/authwiki/src/store/user/userSlice.js
  FrontEnd/authwiki/src/utils/localStorage.js
Labels: enhancement, Frontend

#65 Implement Serializers, Views and URLs of Auth Library #64
  BackEnd/AuthLibrary/serializers.py
  BackEnd/AuthLibrary/urls.py
  BackEnd/AuthLibrary/views.py
  BackEnd/AuthWikiCore/urls.py
Labels: backend, Important

#69 fix the Hero Section (UI) #14
  FrontEnd/authwiki/src/components/HeroSection.js
  FrontEnd/authwiki/src/css/HeroSection.css
Labels: bug, enhancement, help wanted, Important, Frontend

#76 Database Schema: Mapping of Relationships #75
  BackEnd/AuthLibrary/migrations/0001_initial.py
  BackEnd/AuthLibrary/migrations/0002_reactions.py
  BackEnd/AuthLibrary/migrations/0003_reaction_delete_reactions.py
  BackEnd/AuthLibrary/migrations/0004_codesnippet_authlibrary_code_snippets.py
  BackEnd/AuthLibrary/models.py
Labels: bug, backend, Important

#77 Implement Serializers, Views & URLs of Comment Model #9 #75
  BackEnd/AuthLibrary/migrations/0002_remove_comment_reaction_and_more.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthLibrary/serializers.py
  BackEnd/AuthLibrary/urls.py
  BackEnd/AuthLibrary/views.py
  BackEnd/user/models.py
Labels: enhancement, backend, Important

#79 Implement Serializers, Views and URLs of CodeSnippet Model #78
  BackEnd/AuthLibrary/migrations/0003_alter_codesnippet_auth_library_and_more.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthLibrary/serializers.py
  BackEnd/AuthLibrary/urls.py
  BackEnd/AuthLibrary/views.py
Labels: enhancement, backend, Important
