Repository zuri-training/AuthWiki_Team9, pull requests merged in 2022-08, with the labels that each got.

#84 Add image field to the AuthLibrary table #82
  BackEnd/AuthLibrary/migrations/0004_authlibrary_image.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthWikiCore/settings.py
  BackEnd/AuthWikiCore/urls.py
Labels: bug, backend, Important

#85 BUG: fix the upload location #82
  BackEnd/AuthWikiCore/settings.py
  BackEnd/mediafiles/uploads/authlib/c979201d-ea20-4b8c-b057-da25eb052f6a.png
Labels: bug, backend

#95 Add Permission class on the AuthLibraryView #28
  BackEnd/AuthLibrary/permissions.py
  BackEnd/AuthLibrary/views.py
Labels: backend, Important

#107 Code Refactor for the Backend, Delete the reaction table #105
  BackEnd/AuthLibrary/admin.py
  BackEnd/AuthLibrary/migrations/0005_delete_reaction_comment_down_vote_comment_upvote.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthLibrary/views.py
Labels: bug, enhancement, backend, Important

#108 Implement Protected Routes (Functionality) #20
  FrontEnd/authwiki/src/App.js
  FrontEnd/authwiki/src/pages/Dashboard.js
  FrontEnd/authwiki/src/pages/Login.js
  FrontEnd/authwiki/src/pages/Profile.js
  FrontEnd/authwiki/src/pages/ProtectedRoute.js
  FrontEnd/authwiki/src/pages/index.js
Labels: help wanted, Important, Frontend, React.js

#109 fix the redirect bug #20
  FrontEnd/authwiki/src/App.js
  FrontEnd/authwiki/src/pages/Login.js
  FrontEnd/authwiki/src/pages/ProtectedRoute.js
Labels: bug, Important, React.js

#111 Implement Serializers, Views and URLs of Reaction Section #8
  BackEnd/.gitignore
  BackEnd/AuthLibrary/admin.py
  BackEnd/AuthLibrary/migrations/0001_initial.py
  BackEnd/AuthLibrary/migrations/0002_remove_comment_reaction_and_more.py
  BackEnd/AuthLibrary/migrations/0003_alter_codesnippet_auth_library_and_more.py
  BackEnd/AuthLibrary/migrations/0004_authlibrary_image.py
  BackEnd/AuthLibrary/migrations/0005_delete_reaction_comment_down_vote_comment_upvote.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthLibrary/serializers.py
  BackEnd/AuthLibrary/urls.py
  BackEnd/AuthLibrary/views.py
  BackEnd/user/migrations/0001_initial.py
Labels: enhancement, help wanted, backend, Important

#112 Remove for the Category Database Model #82
  BackEnd/AuthLibrary/admin.py
  BackEnd/AuthLibrary/models.py
Labels: backend

#113 Fetching of All AuthLibrary from Server #100
  FrontEnd/authwiki/src/pages/Dashboard.js
  FrontEnd/authwiki/src/pages/ProtectedRoute.js
  FrontEnd/authwiki/src/store.js
  FrontEnd/authwiki/src/store/authlib/authlibSlice.js
  FrontEnd/authwiki/src/store/user/userSlice.js
  FrontEnd/authwiki/src/utils/authHeader.js
Labels: Important, Frontend, React.js

#116 Implement individual retrieving #19
  FrontEnd/authwiki/src/pages/AuthLib.js
  FrontEnd/authwiki/src/store.js
  FrontEnd/authwiki/src/store/authlibId/authlibIDSlice.js
Labels: Important, Frontend, React.js

#117 Add username field to Register page #106
  FrontEnd/authwiki/src/pages/Register.js
  FrontEnd/authwiki/src/store/user/userSlice.js
Labels: Frontend

#118 Customize the Response of the ObtainAuthToken #105
  BackEnd/user/views.py
Labels: bug, backend

#124 Implement Dashboard Functionality #100
  FrontEnd/authwiki/src/App.js
  FrontEnd/authwiki/src/components/SideBar.js
  FrontEnd/authwiki/src/css/SideBarCSS.js
  FrontEnd/authwiki/src/images/icons/Logo.png
  FrontEnd/authwiki/src/images/icons/SideBar copy 2.js
  FrontEnd/authwiki/src/images/icons/SideBar copy.js
  FrontEnd/authwiki/src/images/icons/SideBar.js
  FrontEnd/authwiki/src/images/icons/carbon_star.png
  FrontEnd/authwiki/src/images/icons/clarity_book-line.png
  FrontEnd/authwiki/src/images/icons/clarity_code-line.png
  FrontEnd/authwiki/src/images/icons/fluent_broad-activity-feed-16-regular.png
  FrontEnd/authwiki/src/images/icons/fluent_people-community-28-regular.png
  FrontEnd/authwiki/src/images/icons/login.png
  FrontEnd/authwiki/src/images/icons/search.png
  FrontEnd/authwiki/src/pages/Dashboard.js
  FrontEnd/authwiki/src/pages/Dashboard/AuthLib.js
  FrontEnd/authwiki/src/pages/Dashboard/StarItem.js
  FrontEnd/authwiki/src/pages/index.js
Labels: Frontend, React.js

#138 fix the UI on the dashboard page and the AuthLibrary communication
  BackEnd/mediafiles/uploads/authlib/7d57a111-3a34-4876-98e7-61668eb7dab2.png
  FrontEnd/Pages/AuthLibrary.html
  FrontEnd/authwiki/src/components/SideBar.js
  FrontEnd/authwiki/src/components/SingleAuthLIbrary.js
  FrontEnd/authwiki/src/css/AuthLibList.js
  FrontEnd/authwiki/src/css/SideBarCSS.js
  FrontEnd/authwiki/src/css/SingleAuthLIbrary.js
  FrontEnd/authwiki/src/images/icons/comments.png
  FrontEnd/authwiki/src/images/icons/downloads.png
  FrontEnd/authwiki/src/images/icons/jwt.png
  FrontEnd/authwiki/src/pages/Dashboard.js
Labels: Important, Frontend, React.js

#137 Implement Settings Page UI
  FrontEnd/Pages/CSS/Settings.css
  FrontEnd/Pages/Settings.html
  FrontEnd/Pages/images/carbon_edit.png
Labels: Important, Frontend

#140 Implement Logout functionality #139
  FrontEnd/authwiki/src/components/SideBar.js
  FrontEnd/authwiki/src/css/SideBarCSS.js
  FrontEnd/authwiki/src/store/user/userSlice.js
Labels: Important, Frontend

#142 fix User Profile page Functionality #99
  FrontEnd/authwiki/src/pages/Profile.js
  FrontEnd/authwiki/src/store/user/userSlice.js
Labels: Important, Frontend

#144 Fix the UI on Library List #100 #97 #106
  BackEnd/.gitignore
  FrontEnd/authwiki/src/components/SingleAuthLIbrary.js
  FrontEnd/authwiki/src/css/SingleAuthLIbrary.js
Labels: Important, Frontend

#145 Bug on the Frontend: showPassword visibility #106
  FrontEnd/authwiki/src/components/Form.js
  FrontEnd/authwiki/src/pages/Register.js
Labels: bug, Frontend

#146 Implement Retrieving of Auth Libraries #18 #19 and Implement Retrieving of Auth Libraries #105 #105
  BackEnd/AuthLibrary/admin.py
  BackEnd/AuthLibrary/models.py
  BackEnd/AuthLibrary/serializers.py
  FrontEnd/authwiki/src/components/Code.js
  FrontEnd/authwiki/src/css/AuthLib.js
  FrontEnd/authwiki/src/pages/Dashboard/AuthLib.js
  FrontEnd/authwiki/src/store/authlibId/authlibIDSlice.js
Labels: Frontend

#147 fix the Installation code snippet #105
  FrontEnd/authwiki/src/components/Loader.js
  FrontEnd/authwiki/src/css/AuthLib.js
  FrontEnd/authwiki/src/pages/Dashboard/AuthLib.js
Labels: Frontend
